result
.git
users/slm/nvim/plugin/packer_compiled.lua
users/slm/awesome/rc.lua.alt
system/hardware-configuration.nix
tmp
.cache
**/__pycache__/**
users/slm/ranger/colorschemes/__pycache__/__init__.cpython-39.pyc
users/slm/ranger/colorschemes/__pycache__/rangy.cpython-39.pyc
users/slm/nvim/.nvim-session.vim

